body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	height: 100vh;
	width: 100vh;
	overflow: hidden;
}

.marker {
	stroke: #f8c102;
	cursor: pointer;
	transform: translate(-50%, -100%);
}
.addMarker {
	stroke: #fc1e1e;
	cursor: pointer;
	transform: translate(-50%, -100%);
}

.popup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 25vw;
	padding: 0.5rem;
}

@media only screen and (max-width: 600px) {
	.popup {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 50vw;
		padding: 0.5rem;
	}
  }

.image {
	max-width: 200px;
	object-fit: cover;
}

.entry-form label,
.entry-form input,
.entry-form button,
.entry-form textarea {
	margin: 0.5rem 0;
	display: block;
	width: 100%;
}

.error {
	color: #fc1e1e;
}